extends layout

block content
  .welcome-section
    h2 Ласкаво просимо!
    p #{description}
    
    .features-grid
      .feature-card
        h3 👥 Користувачі (PUG)
        p Перегляньте список користувачів, який рендериться за допомогою шаблонізатора PUG
        a.btn.btn-primary(href='/users') Переглянути користувачів
      
      .feature-card
        h3 📰 Статті (EJS)
        p Ознайомтеся зі статтями, які відображаються через шаблонізатор EJS
        a.btn.btn-primary(href='/articles') Переглянути статті
    
    .info-section
      h3 Про проект
      p Цей проект демонструє як можна використовувати два різні шаблонізатори в одному Express.js додатку:
      ul
        li 
          strong PUG 
          | - для маршрутів користувачів (/users)
        li 
          strong EJS 
          | - для маршрутів статей (/articles)
      p Кожен шаблонізатор має свої переваги і може бути використаний в залежності від потреб проекту.